{% extends 'dcac/base-student.html' %}

{% load widget_tweaks %}
{% load custom_filters %}

{% block content %}

<head>
    <title>ACG Reimbursement Form | DCAC Reimbursement</title>
    <style>
        html {scroll-behavior: smooth;}
        .form-control {scroll-margin: 10em;}
        .custom-select {scroll-margin: 10em;}
    </style>
</head>

<script>

    window.CSRF_TOKEN = "{{ csrf_token }}";

    $(document).ready(function () {

        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });

        // Validation done by form  before saving it
        $('#id_addItemForm').submit(function (event) {
            event.preventDefault()

            let title = $('#{{ item_form.title.id_for_label }}');
            let amount = $('#{{ item_form.amount.id_for_label }}');
            let description = $('#{{ item_form.description.id_for_label }}');

            let department = $('#department').val()
            if (department) {
                department = "[" + department + "] "
            } else {
                department = ""
            }

            let fund_source = $('input[name="fund_source"]:checked');

            var item = {
                title: title.val(),
                amount: parseFloat(amount.val()).toFixed(2),
                description: department + description.val(),
                fund_source: fund_source.val()
            };

            items.push(item);
            title.val('');
            amount.val('0.00');
            description.val('');
            showItems();

            $('#addItemModal').modal('hide')
            
        })


        // Perform additional validation (e.g. at least one item has been added)
        $('#id_acgForm').submit(function( event ) {
            if (validateForm()) {
                showLoadingModal();
                return;
            }
            
            // if not valid, don't submit the form
            event.preventDefault();
        });

        $('#submitReceiptButton').click(function () {
            createFileUpload();
        });
        
        // Edit elements to improve formatting (default options/placeholders)
        $('#{{ form.organization.id_for_label }}').children(":first").html("Choose...").val("");
    });

    var items = [];
    var receipts = [];

    function showLoadingModal() {
        $('#loadingModal').modal({backdrop: 'static', keyboard: false})
    }

    function generateTableRowFromItem(item, index) {
        return "<tr><td><p>" + item.title + "<br><span class='small'>" + item.description + "</span></p></td>"
            + "<td>£" + item.amount + "</td>"
            + "<td><button class=\'btn btn-primary btn-sm\' onclick=\'removeItem(" + index + ")\'><i class=\"fas fa-times mr-1\"></i> Remove</button></td>";
    }

    function generateTableRowFromReceipt(receipt, index) {
        return "<tr><td><p>" + receipt.description + "<br><span class='small'>" + receipt.fileSize + " KB</span></p></td>"
            + "<td><button class=\'btn btn-primary btn-sm\' onclick=\'removeReceipt(" + index + ")\'><i class=\"fas fa-times mr-1\"></i> Remove</button></td>";
    }

    function removeItem(index) {
        items.splice(index, 1);
        showItems();
    }

    function removeReceipt(index) {
        receipts.splice(index, 1);
        showReceipts();
    }


    function createFileUpload() {
        let form = $('#{{ receipt_form.file.id_for_label }}')[0];
        if (Math.round((form.files[0]).size / 1000 / 1000) > 5) {
            alert("File too large, try again.");
            return;
        }
        let formData = new FormData();
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        formData.append("receipt", form.files[0]);
        $.ajax({
            url: '{{ request.path }}',
            type: 'POST',
            data: formData,
            success: function (response) {
                let receipt = {
                    id: response.receipt_id,
                    description: (form.files[0]).name,
                    fileSize: Math.round((form.files[0]).size / 1000)
                };
                receipts.push(receipt);
                showReceipts();
            },
            cache: false,
            contentType: false,
            processData: false
        });
    }

    function validateForm() {
        let validated = true;
        let message = "";

        
        if (items.length === 0) {
            validated = false;
            message += "<li>Please add at least one item.</li>"
        }


        if (!validated) {
            $('html, body').animate({
                scrollTop: $("#titleDiv").offset().top
            }, 1000);
            document.getElementById('errors').innerHTML = message;
            $('#validationDiv').css("visibility", "visible").css("display", "block");
        } else {
            $('#validationDiv').css("visibility", "hidden").css("display", "none");
        }
        
        return validated;
    }


    function showItems() {
        var itemsHtml = "";
        var total = 0;
        items.forEach(function (item, index) {
            itemsHtml += generateTableRowFromItem(item, index);
            total += parseFloat(item.amount);
        });
        document.getElementById('items').innerHTML = itemsHtml;
        document.getElementById('totalAmountInSummary').innerHTML = total.toFixed(2);
        $('#itemsJson').val(JSON.stringify(items));
    }

    function showReceipts() {
        var receiptsHtml = "";
        receipts.forEach(function (item, index) {
            receiptsHtml += generateTableRowFromReceipt(item, index);
        });
        document.getElementById('receipts').innerHTML = receiptsHtml;

        let receiptIds = [];
        receipts.forEach(function (receipt) {
            receiptIds.push(receipt.id);
        });
        $('#receiptsJson').val(JSON.stringify(receiptIds));
    }

</script>


<div class="container-fluid d-md-block" style="background: #A39161">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="jumbotron mt-2" style="background: white">
                    <div class="row mb-2" id="titleDiv">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                            <h2 align="center">ACG Reimbursement Form - {{ reimbursement_type|str_reimbursement_type }}</h2>
                            <p align="center">The ACG is used to cover all expenditures during the year that the club/society incurs as part of its usual running costs. In order to receive these funds, please fill out the below form detailing any expenses which have been incurred by the club/society, in accordance with ACG spending regulations.
                            </p>
                               
                            <div class="btn-group d-flex justify-content-center">
                                <a href="{% url 'acg-form' 'standard'%}" class="btn btn-primary mt-2 {% if reimbursement_type == 1 %}disabled{% endif %}">Standard</a>
                                <a href="{% url 'acg-form' 'internal'%}" class="btn btn-primary mt-2 {% if reimbursement_type == 2 %}disabled{% endif %}">Internal</a>
                                <a href="{% url 'acg-form' 'large'%}" class="btn btn-primary mt-2 {% if reimbursement_type == 3 %}disabled{% endif %}">Large</a>
                                <a class="btn btn-primary mt-2" data-toggle="modal" data-target="#requestTypes" style="cursor: pointer;color:white;"><i class="fas fa-question-circle"></i></a>
                            </div>

                            {% if reimbursement_type == 3 %}
                            <p align="center" class="mt-3">Note that 'Large' requests will likely take longer to process - please only use this option when it is necessary.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
<form id="id_acgForm" action="{% url 'acg-submit' %}" method="POST">
    <input type="hidden" value="[]" id="itemsJson" name="items">
    <input type="hidden" value="[]" id="receiptsJson" name="receipts">
    <input type="hidden" value="{{ reimbursement_type }}" id="reimbursementType" name="reimbursement_type">

    {% csrf_token %}
    <div class="row mb-4" style="visibility: hidden; display: none" id="validationDiv">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="alert alert-danger">
                <b>Whoops! There are some problems with this form.</b><br>
                Please correct them before proceeding.<br>
                <ul id="errors" class="mt-2">

                </ul>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="jumbotron">
                    <h4><i class="fas fa-football-ball mr-2"></i> Organisation</h4>
                    <p class="mt-3">Please select the organisation for which you'd like to make a request.
                        If the organisation you need isn't listed here, please contact the Treasurer.</p>
                    {{ form.organization|add_class:"custom-select d-block" }}
                </div>

                {% if reimbursement_type == 2 %}
                <div class="jumbotron">
                    <h4><i class="fas fa-exchange-alt"></i> Department</h4>
                    <p class="mt-3">Please enter the name of the department that you would like to transfer to.</p>
                    <input class="form-control" type=text id="department" required>
                </div>
                {% endif %}

                <div class="jumbotron">
                    <h4><i class="fas fa-file-invoice-dollar mr-2"></i> Items</h4>
                    <p class="mt-3">Please add each item individually.

                        {% if reimbursement_type == 3 %} 
                            <br><br>Please provide <b>all the necessary information</b> so that college is able to purchase the item from this description.
                        {% endif %}

                    </p>

                    <table class="table table-light" id="items">
                    </table>

                    <button type="button" class="btn btn-primary mt-2" data-toggle="modal" data-target="#addItemModal">
                        <i class="fas fa-plus mr-1"></i> Add Item
                    </button>
                </div>
                
                {% if reimbursement_type != 3 %}
                <div class="jumbotron">
                    <h4><i class="fas fa-receipt mr-2"></i> Receipts</h4>
                    <p class="mt-3">Please ensure you attach receipts to cover all items you've
                        added above.</p>

                    <table class="table table-light" id="receipts">
                    </table>

                    <button type="button" class="btn btn-primary mt-2" data-toggle="modal"
                            data-target="#addReceiptModal">
                        <i class="fas fa-plus mr-1"></i> Add Receipt
                    </button>
                </div>
                {% endif %}
                
                {% if form.name_on_account %}
                <div class="jumbotron">
                    <h4><i class="fas fa-wallet mr-2"></i> Bank Details</h4>
                    <p class="mt-3">Payment may only be made by bank transfer. Your bank details are encrypted and stored in an
                        database on the JCR server, which
                        is hosted by Downing College. These details are only accessible to the Bursary staff. Once your request
                        has been paid, these details will
                        be deleted. For more information about how we process your data, please refer to our
                        data protection policy, accessible on the JCR website.</p>
                    <div class="row mt-4">
                        <div class="col-md-6 mb-3">
                            {{ form.raw_sort_code.label_tag }}
                            {{ form.raw_sort_code|add_class:"form-control" }}
                            {{ form.raw_sort_code.errors|add_class:"invalid-feedback"}}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form.raw_account_number.label_tag }}
                            {{ form.raw_account_number|add_class:"form-control" }}
                            {{ form.raw_account_number.errors|add_class:"invalid-feedback" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-1">
                            {{ form.name_on_account.label_tag }}
                            {{ form.name_on_account|add_class:"form-control" }}
                            {{ form.name_on_account.errors|add_class:"invalid-feedback" }}
                        </div>
                    </div>
                </div>
                {% endif %}

                <div class="jumbotron">
                    <h4><i class="fas fa-map-signs mr-2"></i> Summary</h4>
                    <p>Total: £<span id="totalAmountInSummary">0.00</span></p>

                    <div class="d-lg-none">
                        <p>Please ensure that any request made under the ACG conforms to the
                            regulations
                            as set out on the JCR website. In particular, please be advised
                            that alcohol and other non-essential spending may not be funded via this route.</p>
                        <a target=_blank href="https://www.jcr.dow.cam.ac.uk/treasury"
                           class="btn btn-light"><span>ACG Information <i
                                class="fas fa-angle-right ml-1"></i></span></a>
                    </div>

                    <p class="mt-3">Please ensure you've attached receipts covering all of the items
                        you've added above, otherwise your request will be rejected. After you hit 'finish' below,
                        you won't be able to make any changes to this request. </p>

                </div>

                <button type="submit" class="btn btn-primary btn-block" data-toggle="modal" id="finishButton">
                    Finish <i class="fas fa-arrow-right ml-1"></i>
                </button>

        </div>
    </form>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 d-none d-lg-block">
            <div class="list-group">
                <p class="list-group-item">Please ensure that any request made under the ACG conforms to the regulations
                    as set out on the JCR website. <br>In particular, please be advised
                            that alcohol and other non-essential spending may not be funded via this route.</p>
                <a target="_blank" href="https://www.jcr.dow.cam.ac.uk/treasury"
                   class="list-group-item d-flex justify-content-between align-items-center">
                    <span>ACG Information</span>
                    <i class="fas fa-chevron-right"></i>
                </a>

            </div>
        </div>
    </div>

    <form id="id_addItemForm">

    <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addItemModalTitle">Add Item</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        {{ item_form.title|add_label_class:"mt-3" }}
                        {{ item_form.title|add_class:"form-control" }}
                        
                        {{ item_form.amount|add_label_class:"mt-3"}}
                        
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">£</span>
                            </div>
                            {{ item_form.amount|add_class:"form-control"}}
                        </div>

                        <p class="mt-3">Fund Source <a target="_blank" href="https://www.jcr.dow.cam.ac.uk/treasury">(explanation)</a>:</p>
                        <div class="form-check">
                            {% for radio in item_form.fund_source %}
                                {{radio}}<br>
                            {% endfor %}
                        </div> 

                        {{ item_form.description|add_label_class:"mt-3"}}
                        {{ item_form.description|add_class:"form-control" }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                    </button>
                    <button type="submit" id="addItemButton" class="btn btn-primary">Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
    </form>

    <div class="modal fade" id="addReceiptModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addReceiptModalTitle">Add Receipt</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                    <div class="modal-body">
                        <p>
                            Receipts should be:
                            <ul>
                                <li>A clear image.</li>
                                <li>Itemised (not a credit card receipt).</li>
                            </ul>
                            Generally, screenshots are not considered receipts. Text messages or emails discussing
                            possible fees are similarly not invoices or receipts.<br><br>

                            You may alternatively provide an invoice for direct payment - <a target="_blank" href="https://www.gov.uk/invoicing-and-taking-payment-from-customers/invoices-what-they-must-include">details here</a>.<br><br>

                            For small transactions, a full and clear bank statement may be acceptable, subject to approval.

                            <br><br>

                            Attach files one at a time. Max file size: 5MB.
                        </p>

                        {{ receipt_form.file|add_class:"form-control-file" }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                        </button>
                        <button id="submitReceiptButton" class="btn btn-primary" data-dismiss="modal">Submit</button>
                    </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="loadingModal">
        <div class="modal-dialog modal-dialog-centered text-center" role="document">
            <span class="fa fa-spinner fa-spin fa-3x w-100"></span>
        </div>
    </div>

</div>

{% endblock %}