{% extends 'dcac/base-student.html' %}

{% block content %}

<script>

    window.CSRF_TOKEN = "{{ csrf_token }}";

    $(document).ready(function () {

        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });

        $('#addItemButton').click(function () {
            let title = $('#itemTitle');
            let amount = $('#itemAmount');
            let description = $('#itemDescription');

            var item = {
                title: title.val(),
                amount: amount.val(),
                description: description.val()
            };
            items.push(item);
            title.val('');
            amount.val('');
            description.val('');
            showItems();
        });

        $('#finishButton').click(function () {
            if (validateForm()) {
                createAjaxResponse();
            }
        });

        $('#submitReceiptButton').click(function () {
            createFileUpload();
        });

    });

    var items = [];
    var receipts = [];

    function generateTableRowFromItem(item, index) {
        return "<tr><td><p>" + item.title + "<br><span class='small'>" + item.description + "</span></p></td>"
            + "<td>£" + item.amount + "</td>"
            + "<td><button class=\'btn btn-primary btn-sm\' onclick=\'removeItem(" + index + ")\'><i class=\"fas fa-times mr-1\"></i> Remove</button></td>";
    }

    function generateTableRowFromReceipt(receipt, index) {
        return "<tr><td><p>" + receipt.description + "<br><span class='small'>" + receipt.fileSize + " KB</span></p></td>"
            + "<td><button class=\'btn btn-primary btn-sm\' onclick=\'removeReceipt(" + index + ")\'><i class=\"fas fa-times mr-1\"></i> Remove</button></td>";
    }

    function removeItem(index) {
        items.splice(index, 1);
        showItems();
    }

    function removeReceipt(index) {
        receipts.splice(index, 1);
        showReceipts();
    }

    function createAjaxResponse() {
        let receiptIds = [];
        receipts.forEach(function (receipt) {
            receiptIds.push(receipt.id);
        });
        $.ajax({
            url: '/dcac/form/acg/submit',
            type: 'POST',
            data: {
                'organization': $('#organization').val(),
                'items': JSON.stringify(items),
                'receipts': JSON.stringify(receiptIds),
                'sort_code': $('#sortCode').val(),
                'account_number': $('#accountNumber').val(),
                'name_on_account': $('#accountName').val()
            },
            dataType: 'json',
            csrfmiddlewaretoken: '{{ csrf_token }}',
            success: function (response) {
                handleResponse(response.formId);
            }
        });
    }

    function createFileUpload() {
        let form = document.getElementById('receipt');
        let formData = new FormData();
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        formData.append("receipt", form.files[0]);
        $.ajax({
            url: '/dcac/form/acg',
            type: 'POST',
            data: formData,
            success: function (response) {
                let receipt = {
                    id: response.receipt_id,
                    description: (form.files[0]).name,
                    fileSize: Math.round((form.files[0]).size/1000)
                };
                receipts.push(receipt);
                showReceipts();
            },
            cache: false,
            contentType: false,
            processData: false
        });
    }

    function validateForm() {
        let validated = true;
        let message = "";

        if ($('#organization').val() === "") {
            validated = false;
            message += "<li>Please select an organisation.</li>"
        }
        if (items.length === 0) {
            validated = false;
            message += "<li>Please add at least one item.</li>"
        }
        if ($('#sortCode').val().length !== 6) {
            validated = false;
            message += "<li>Please ensure your sort code is correct.</li>"
        }
        if ($('#accountNumber').val().length !== 8) {
            validated = false;
            message += "<li>Please ensure your account number is correct.</li>"
        }
        if ($('#accountName').val().length === 0) {
            validated = false;
            message += "<li>Please ensure the name on your account is correct.</li>"
        }

        if (!validated) {
            $('html, body').animate({
                scrollTop: $("#titleDiv").offset().top
            }, 1000);
            document.getElementById('errors').innerHTML = message;
            $('#validationDiv').css("visibility", "visible").css("display", "block");
        } else {
            $('#validationDiv').css("visibility", "hidden").css("display", "none");
        }

        return validated;
    }

    function handleResponse(formId) {
        location.assign('/dcac/request/' + formId.toString());
    }

    function showItems() {
        var itemsHtml = "";
        var total = 0;
        items.forEach(function (item, index) {
            itemsHtml += generateTableRowFromItem(item, index);
            total += parseFloat(item.amount);
        });
        document.getElementById('items').innerHTML = itemsHtml;
        document.getElementById('totalAmountInSummary').innerHTML = total;
    }

    function showReceipts() {
        var receiptsHtml = "";
        receipts.forEach(function (item, index) {
            receiptsHtml += generateTableRowFromReceipt(item, index);
        });
        document.getElementById('receipts').innerHTML = receiptsHtml;
    }

</script>

<div class="container-fluid d-none d-md-block" style="background: #990066">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="jumbotron mt-2" style="background: white">
                    <div class="row mb-2" id="titleDiv">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h2 align="center">ACG Reimbursement Form</h2>
                            <p align="center">The ACG is used to cover all expenditures during the year that the
                                club/society
                                incurs as part of its
                                usual running costs. In order to receive these funds, please fill out the below form
                                detailing
                                any expenses which have been incurred by the club/society, in accordance with ACG
                                spending
                                regulations.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>

<div class="container mt-4">

    <div class="row mb-2 d-md-none">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2>ACG Reimbursement Form</h2>
            <p>The ACG is used to cover all expenditures during the year that the club/society incurs as part of its
                usual running costs. In order to receive these funds, please fill out the below form detailing
                any expenses which have been incurred by the club/society, in accordance with ACG spending
                regulations.</p>
        </div>
    </div>

    <div class="row mb-4" style="visibility: hidden; display: none" id="validationDiv">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="alert alert-danger">
                <b>Whoops! There are some problems with this form.</b><br>
                Please correct them before proceeding.<br>
                <ul id="errors" class="mt-2">

                </ul>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <form>
                <div class="jumbotron">
                    <h4><i class="fas fa-football-ball mr-2"></i> Organisation</h4>
                    <p class="mt-3">Please select the organisation for which you'd like to make a request.
                        If the organisation you need isn't listed here, please contact the Treasurer.</p>
                    <select class="custom-select d-block" id="organization" required>
                        <option value="">Choose...</option>
                        {% for organization in organizations %}
                        <option value="{{ organization.organization_id }}">{{ organization }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="jumbotron">
                    <h4><i class="fas fa-file-invoice-dollar mr-2"></i> Items</h4>
                    <p class="mt-3">Please add each item individually.</p>

                    <table class="table table-light" id="items">
                    </table>

                    <button type="button" class="btn btn-primary mt-2" data-toggle="modal" data-target="#addItemModal">
                        <i class="fas fa-plus mr-1"></i> Add Item
                    </button>
                </div>

                <div class="jumbotron">
                    <h4><i class="fas fa-receipt mr-2"></i> Receipts</h4>
                    <p class="mt-3">Please ensure you attach receipts to cover all items you've
                        added above.</p>

                    <table class="table table-light" id="receipts">
                    </table>

                    <button type="button" class="btn btn-primary mt-2" data-toggle="modal"
                            data-target="#addReceiptModal">
                        <i class="fas fa-plus mr-1"></i> Add Receipt
                    </button>
                </div>

                <div class="jumbotron">
                    <h4><i class="fas fa-wallet mr-2"></i> Bank Details</h4>
                    <p class="mt-3">Payment may only be made by bank transfer. Your bank details are stored in an
                        encrypted database on the JCR server, which
                        is hosted in College. These details are only accessible to the Junior Treasurer, Senior
                        Treasurer and the Bursary staff. Once your request has been paid, these details will
                        be deleted. For more information about how we process your data, please refer to our
                        data protection policy.</p>
                    <div class="row mt-4">
                        <div class="col-md-6 mb-3">
                            <label for="sortCode">Sort Code</label>
                            <input type="text" class="form-control" id="sortCode" placeholder="123456" value=""
                                   minlength="6" maxlength="6" required>
                            <div class="invalid-feedback">
                                Valid sort code is required.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="accountNumber">Account Number</label>
                            <input type="text" class="form-control" id="accountNumber" placeholder="12345678" value=""
                                   minlength="8" maxlength="8" required>
                            <div class="invalid-feedback">
                                Valid account number is required.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-1">
                            <label for="accountName">Account Holder</label>
                            <input type="text" class="form-control" id="accountName" placeholder="Mr Joe Bloggs"
                                   value="" required>
                            <div class="invalid-feedback">
                                Valid name is required.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="jumbotron">
                    <h4><i class="fas fa-map-signs mr-2"></i> Summary</h4>
                    <p>Total: £<span id="totalAmountInSummary">0.00</span></p>

                    <div class="d-lg-none">
                        <p>Please ensure that any request made under the ACG conforms to the
                            regulations
                            as set out on the JCR website.</p>
                        <a target=_blank href="https://www.jcr.dow.cam.ac.uk/treasury"
                           class="btn btn-light"><span>ACG Information <i
                                class="fas fa-angle-right ml-1"></i></span></a>
                    </div>

                    <p class="mt-3">Please ensure you've attached receipts covering all of the items
                        you've added above, otherwise your request will be rejected. After you hit 'finish' below,
                        you won't be able to make any changes to this request. </p>

                </div>

                <button type="button" class="btn btn-primary btn-block" data-toggle="modal" id="finishButton">
                    Finish <i class="fas fa-arrow-right ml-1"></i>
                </button>

            </form>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 d-none d-lg-block">
            <div class="list-group">
                <p class="list-group-item">Please ensure that any request made under the ACG conforms to the regulations
                    as set out on the JCR website.</p>
                <a target=_blank href="https://www.jcr.dow.cam.ac.uk/treasury" class="list-group-item"><span>ACG Information <i
                        class="fas fa-angle-right ml-1"></i></span></a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addItemModalTitle">Add Item</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <label for="itemTitle">Name</label>
                        <input type="text" class="form-control" id="itemTitle" value="" required>

                        <label for="itemAmount" class="mt-3">Amount</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">£</span>
                            </div>
                            <input type="number" step="1" min="0" class="form-control" id="itemAmount" value="0.00"
                                   required>
                        </div>

                        <label for="itemDescription" class="mt-3">Description</label>
                        <textarea id="itemDescription" class="form-control" rows="5" value="" required></textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                    </button>
                    <button type="button" id="addItemButton" class="btn btn-primary" data-dismiss="modal">Submit
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addReceiptModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addReceiptModalTitle">Add Receipt</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <form>
                    <div class="modal-body">
                        <p>
                            Attach files one at a time. Max file size: 5MB.
                        </p>

                        <input type="file" class="form-control-file" id="receipt">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                        </button>
                        <button id="submitReceiptButton" class="btn btn-primary" data-dismiss="modal">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

{% endblock %}