{% extends 'dcac/base-student.html' %}

{% block content %}

<head>
    <title>Previous Requests | DCAC Reimbursement</title>
</head>

<div class="container-fluid d-none d-md-block" style="background: #A39161">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="jumbotron mt-2" style="background: white">
                    <div class="row mb-2" id="titleDiv">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h2 align="center">Previous Requests</h2>
                            <p align="center">Below are all the requests you have made previously. Click on a request
                            for further detail.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>

<div class="container mt-4">

    <div class="row mb-1 d-md-none">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>Previous Requests</h3>
            <p>Below are all the requests you have made previously. Tap on a request for further detail.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {% include 'dcac/includes/request-table.html' with view='student' %}
        </div>
    </div>

</div>

{% endblock %}