{% extends 'dcac/base-student.html' %}

{% block content %}

<head>
    <title>Dashboard | DCAC Reimbursement</title>
</head>

<script>
    $(document).ready(function () {

        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });

    });
</script>

<div class="container-fluid d-none d-md-block" style="background: #A39161">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="jumbotron mt-2" style="background: white">
                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <h3>Your Recent Requests</h3>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="dropdown show">
                                <a href="#" class="btn btn-primary dropdown-toggle float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                                    <i class="fas fa-plus mr-1"></i>
                                    New Request
                                </a>
                                
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/dcac/form/acg-standard">Standard Request</a>
                                    <a class="dropdown-item" href="/dcac/form/acg-internal">Internal Transfer</a>
                                    <a class="dropdown-item" href="/dcac/form/acg-large">Large Requests</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#requestTypes" style="cursor: pointer;"><i class="fas fa-question-circle"></i> What's this?</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            {% include 'dcac/request-table.html' with view='student' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="container mt-4">

    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <h3>Hey, {{ student.first_name }}!</h3>
            <p>Welcome to the DCAC Reimbursement system. </p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="list-group">
                <a href="/dcac/form/acg" class="list-group-item d-flex justify-content-between align-items-center">
                    <span>New Request</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
                <a href="/dcac/requests" class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Previous Requests</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
                <a href="https://www.jcr.dow.cam.ac.uk/treasury" target="blank" class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Treasury Information</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>

</div>


<div class="modal fade" id="requestTypes" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Request Types</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    There are three different types of request:
                    <ul>
                        <li><b>Standard Request:</b> your bog-standard request</li>
                        <li><b>Internal Transfer:</b> money going between different departments within Downing</li>
                        <li><b>Large Transfer:</b> for anything over £50 total</li>
                    </ul>
                </p>  
            </div>
        </div>
    </div>
</div>


{% endblock %}