{% extends 'forms/base-student.html' %}

{% load custom_filters %}

{% block content %}

<head>
    <title>Dashboard | DCAC Reimbursement</title>
</head>

<div class="container-fluid d-none d-md-block bg-primary">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="jumbotron mt-2" style="background: white">
                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <h3>Your Recent Requests</h3>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="dropdown">
                                <a href="#" class="btn btn-primary dropdown-toggle float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                                    <i class="fas fa-plus mr-1"></i>
                                    New Request
                                </a>
                                
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'acg-form' 'standard' %}">Standard Request</a>
                                    <a class="dropdown-item" href="{% url 'acg-form' 'standard' %}">Internal Transfer</a>
                                    <a class="dropdown-item" href="{% url 'acg-form' 'standard' %}">Large Requests</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#requestTypes" style="cursor: pointer;"><i class="fas fa-question-circle"></i> What's this?</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            {% include 'dcac/includes/request-table.html' with view='student' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="container mt-4">


    <div class="row">

        

        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            {% if allow_budget_submit %}
            <div class="alert alert-info mb-3">
            <p class="mb-0">We are currently accepting budgets for the year {{year|str_academic_year}}! Please use <a href="{% url 'budget-form' %}">this link</a>, or the link in the sidebar, to create a new budget. You can also view budgets for your societies <a href="{% url 'all-budgets' %}">here</a>.</p>
            </div>
            {% endif %}

            <h3>Hey, {{ student.first_name }}!</h3>
            <p>Welcome to the DCAC Reimbursement system. </p>
        </div>

        <div class="col-12 col-md-3">
            <div class="list-group">
                <a href="{% url 'acg-form' 'standard' %}" class="list-group-item d-flex justify-content-between align-items-center">
                    <span>New Request</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
                <a href="{% url 'all-requests' %}" class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Previous Requests</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
                <a href="{% url 'budget-form' %}" class="list-group-item d-flex justify-content-between align-items-center">
                    <span>New Budget</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
                <a href="{% url 'all-budgets' %}" class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Previous Budgets</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
                <a href="https://www.jcr.dow.cam.ac.uk/treasury" target="blank" class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Treasury Information</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>

</div>



{% endblock %}