{% extends 'budget/base-admin.html' %}

{% load custom_filters %}

{% block content %}

<head>
    <title>All Budgets | DCAC Budget</title>
</head>

<div class="container-fluid d-block bg-primary">

    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="jumbotron mt-2" style="background: white">
                    <div class="row">
                        <div class="col-12">
                            <h2 align="center">All Budgets - {{year|str_academic_year}}</h2>
                            <p style="text-transform: uppercase; font-size: 0.8em; color: grey" align="center">Admin Portal
                            </p>
                            {% if not allow_budget_submit %}
                            We are currently <strong>not</strong> accepting new budgets for this academic year.
                            {% endif %}
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>

<div class="container mt-4">

    <nav>
    <ul class="pagination justify-content-center">
        {% for y in year|paginate_years %}
        
        {% if y %}
        <li class="page-item {% if y == year %}disabled{% endif %}"><a class="page-link" href="{% url 'all-budgets-admin-prev-year' y %}">
            {% if forloop.last %}&raquo; {% endif %}{{y|str_academic_year}}{% if forloop.first %} &laquo;{% endif %}
        </a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
        {% endif %}

        {% endfor %}
    </ul>
    </nav>


    <div class="row">
        <div class="col-12">
            {% include 'budget/includes/budget-table.html' with view='admin' %}
        </div>
    </div>

</div>


{% endblock %}