{% extends 'budget/base-student.html' %}

{% load widget_tweaks %}
{% load custom_filters %}

{% block content %}

<head>
    <title>Budget Form | DCAC Budget</title>
    <style>
        html {scroll-behavior: smooth;}
        .form-control {scroll-margin: 10em;}
        .custom-select {scroll-margin: 10em;}
    </style>
</head>

<script>

    window.CSRF_TOKEN = "{{ csrf_token }}";

    $(document).ready(function () {

        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });

        // Validation done by form  before saving it
        $('#id_addItemForm').submit(function (event) {
            event.preventDefault()

            let title = $('#{{ item_form.title.id_for_label }}');
            let amount = $('#{{ item_form.amount.id_for_label }}');
            let description = $('#{{ item_form.description.id_for_label }}');


            var item = {
                title: title.val(),
                amount: parseFloat(amount.val()).toFixed(2),
                description: description.val(),
                budget_type: curBudgetType
            };

            if (currentlyEditing) {
                const budgetType = currentlyEditing[0]
                const index = currentlyEditing[1]
                item['entry_id'] = items[budgetType][index]['entry_id']
                items[budgetType][index] = item
            } else {
                items[curBudgetTypeTitle].push(item);
            }

            title.val('');
            amount.val('0.00');
            description.val('');
            showItems();

            $('#addItemModal').modal('hide')
            
        })


        // Perform additional validation (e.g. at least one item has been added)
        $('#id_budgetForm').submit(function( event ) {
            if (validateForm()) {
                showLoadingModal();
                return;
            }
            
            // if not valid, don't submit the form
            event.preventDefault();
        });


        // Display correct "Add Item" prompt for selected button
        $('#addItemGeneral').click(changeBudgetItemType('General'))
        $('#addItemCuppers').click(changeBudgetItemType('Cuppers'))
        $('#addItemExceptional').click(changeBudgetItemType('Exceptional'))
        $('input[name="has_bank_account"]').change(updateBankDetailVisibility)

        // Edit elements to improve formatting (default options/placeholders)
        let organization = $('#{{ form.organization.id_for_label }}');
        organization.children(":first").html("Choose...").val("");
        organization.change(validateOrganization);
        updateBankDetailVisibility()
        showItems();

        {% if draft %}
        $('#organizationDiv').hide()
        {% endif %}

        {% if form.errors %}
        $('#validationDiv').css("visibility", "visible").css("display", "block");
        $('#titleDiv')[0].scrollIntoView();
        {% endif %}

    });

    {% if draft %}    
    var items = {{ existingItems|safe }}
    {% else %}
    var items = {General: [], Cuppers: [], Exceptional: []};
    {% endif %}
    deletedItems = [];
    var curBudgetType = 1;
    var curBudgetTypeTitle = ""

    const budgetTypeInt = {
        'General': 1,
        'Cuppers': 2,
        'Exceptional': 3
    }

    // keeps track if the item form is editing an existing budget, or creating a new one
    // if updating, store the position in the items object
    var currentlyEditing = null

    var existingBudgets = {% if existingBudgets %} {{ existingBudgets }} {% else %} {} {% endif %}

    function changeBudgetItemType(newTitle) {
        return function () {
            curBudgetType = budgetTypeInt[newTitle]
            curBudgetTypeTitle = newTitle
            $('#addItemModalTitle').html('Add Item - ' + newTitle);
            $('#addItemModal').modal('show')
            // default behaviour is adding an item, not updating
            currentlyEditing = null
        }
    }

    function showLoadingModal() {
        $('#loadingModal').modal({backdrop: 'static', keyboard: false})
    }

    function generateTableRowFromItem(item, budgetType, index) {
        return `<tr><td class=col-6><p> ${item.title} <br><span class='small'> ${item.description} </span></p></td>
            <td>£ ${item.amount} </td>
            <td class=col-2><button type=button class='btn btn-primary btn-sm' onclick='editItem( "${budgetType}", ${index})'><i class="fas fa-edit mr-1"></i> Edit</button></td>
            <td class=col-2><button class='btn btn-primary btn-sm' onclick='removeItem( "${budgetType}", ${index} )'><i class="fas fa-times mr-1"></i> Remove</button></td></tr>`;
    }


    function removeItem(budgetType, index) {
        let pk = items[budgetType][index]['entry_id'];
        if (pk) {
            deletedItems.push(pk)
            $('#{{ form.deleted_items.id_for_label }}').val(JSON.stringify(deletedItems))
            }
        items[budgetType].splice(index, 1);
        showItems();
    }

    function editItem(budgetType, index) {
        changeBudgetItemType(budgetType)();
        let item = items[budgetType][index]
        $('#{{ item_form.title.id_for_label }}').val(item.title)
        $('#{{ item_form.amount.id_for_label }}').val(item.amount)
        $('#{{ item_form.description.id_for_label }}').val(item.description)
        currentlyEditing = [budgetType, index]
    }

    function validateOrganization() {
        let organization = $('#{{ form.organization.id_for_label }}').find(':selected').val()

        if (existingBudgets[organization]) {
            let link = `<a href='/budget/budget/${existingBudgets[organization]}'>here<a>`
            message = `<li>A budget has already been submitted for this organization. If you are the president, treasurer, or submitter, you can view the budget ${link}. Otherwise, if you think that the budget has been submitted in error, please contact treasurer@jcr.dow.cam.ac.uk</li>`

            $('#errors').html(message);
            $('#validationDiv').css("visibility", "visible").css("display", "block");
            $('#titleDiv')[0].scrollIntoView();
            return false
        } else {
            $('#validationDiv').css("visibility", "hidden").css("display", "none");
            return true
        }
    }

    function validateForm() {
        let validated = true;
        let message = '{{ form.errors }}'
        
        if (!validateOrganization()) {
            validated = false
            let organization = $('#{{ form.organization.id_for_label }}').find(':selected').val()
            let link = "<a href='/budget/budget/" + existingBudgets[organization] + "'>here<a>"
            message += "<li>A budget has already been submitted for this organization. If you are the president, treasurer, or submitter, you can view the budget " + link + ". Otherwise, if you think that the budget has been submitted in error, please contact treasurer@jcr.dow.cam.ac.uk</li>"
        }


        if (items['General'].length + items['Cuppers'].length + items['Exceptional'].length === 0) {
            validated = false;
            message += "<li>Please add at least one item.</li>"
        }

        if (!validated) {
            $('#errors').html(message);
            $('#validationDiv').css("visibility", "visible").css("display", "block");
            $('#titleDiv')[0].scrollIntoView();
        } else {
            $('#validationDiv').css("visibility", "hidden").css("display", "none");
        }

        return validated;
    }


    function showItems() {
        var total = 0;
        var totalAmountAcg = 0;
        var totalAmountDep = 0;
        for (const budgetType in items) {
            var itemsHtml = "";
            let itemsOfType = items[budgetType]

            itemsOfType.forEach(function (item, index) {
                itemsHtml += generateTableRowFromItem(item, budgetType, index);
                if (budgetType == 'Exceptional') {
                    totalAmountDep += parseFloat(item.amount);
                } else {
                    totalAmountAcg += parseFloat(item.amount);
                }
                total += parseFloat(item.amount);
                
            });
            $('#items' + budgetType).html(itemsHtml);
            
        }
        $('#totalAmountInSummaryAcg').html(totalAmountAcg.toFixed(2));
        $('#totalAmountInSummaryDep').html(totalAmountDep.toFixed(2));
        $('#totalAmountInSummary').html(total.toFixed(2));
        $('#{{ form.items.id_for_label }}').val(JSON.stringify(items));

    }

    // Hide bank details jumbotron if no bank details are given
    function updateBankDetailVisibility() {
        let has_bank_account = $('input[name="has_bank_account"]:checked')[0].value;
        if (has_bank_account=="True") {
            $('#bankInfo').show();
            $('#bankInfo input').prop('disabled', false);
            $('#id_bankbutton_0').addClass('active')
            $('#id_bankbutton_1').removeClass('active')
        } else {
            $('#bankInfo').hide();
            $('#bankInfo input').prop('disabled', true);
            $('#id_bankbutton_0').removeClass('active')
            $('#id_bankbutton_1').addClass('active')
        }
    }


</script>

<div class="container-fluid d-md-block bg-primary">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="jumbotron mt-2" style="background: white">
                    <div class="row" id="titleDiv">
                        <div class="col">
                            <h2 align="center" id="budgetTitle">DCAC Budget Form
                            {% if draft %}
                             - {{ budget.organization }}
                            {% endif%}
                            </h2>

                            <p style="text-transform: uppercase; font-size: 1.5em; color: grey" align="center">
                            {% if draft %}Draft{% endif %}
                            </p>
                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <form id="id_budgetForm" action="{{ request.path }}" method="POST">
        {{ form.items }}
        {{ form.deleted_items }}
    
        {% csrf_token %}

        {% if draft %}
        <div class="row mb-4">
            <div class="col-12">
                <div class="alert alert-secondary">
                    <p>This is a draft. The only people that can see this page are the original submitter of the budget, the president of the society, and the treasurer of the society.</p>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="row mb-4" style="visibility: hidden; display: none" id="validationDiv">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="alert alert-danger">
                    <b>Whoops! There are some problems with this form.</b><br>
                    Please correct them before proceeding.<br>
                    <ul id="errors" class="mt-2">
                        {{ form.errors }}
                    </ul>
                </div>
            </div>
        </div>
    
        <div class="row mb-5">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="jumbotron" id="organizationDiv">
                        <h4><i class="fas fa-football-ball mr-2"></i> Organisation</h4>
                        <p class="mt-3">
                            If the organisation you need isn't listed here, please contact the Treasurer.</p>
                        {{ form.organization|add_class:"custom-select d-block" }}
                        {{ form.organization.error }}
                    </div>
    
                    <div class="jumbotron">
                        <h4><i class="fas fa-info-circle mr-2"></i> Society Details</h4>
                        <p>Enter the name and CRSid of the President(s) and Treasurer(s) of the society. These members will be able to view the budget so make sure that their CRSids are correct, and do not include the '@cam.ac.uk' after the CRSid.</p>
                        <span id="crsidHelpBlock" class="form-text" aria-describedby="crsidHelpBlock">
                            To enter multiple presidents or treasurers, please enter their names and CRSids comma-separated, with no spaces between them. For example, adding two presidents - in the President box, "John Smith,Amy Blythe", and in the CRSids box, "js456,ab971" (without the quotes).
                          </span>
                        <div class="row mt-3">

                            <div class="input-group col-md-6 col-12 pt-0">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">{{ form.president | add_label_class:"mb-0" }}</span>
                                </div>
                                {{ form.president|add_class:"form-control" }}
                                {{ form.president.errors}}
                            </div>

                            
                            <div class="input-group col-md-6 col-12 pt-3 pt-md-0 pb-3 pb-md-0">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">{{ form.president_crsid | add_label_class:"mb-0" }}</span>
                                </div>
                                {{ form.president_crsid|add_class:"form-control" }}
                                {{ form.president_crsid.errors}}
                            </div>                           
                            
                        </div>

                        <div class="row mt-3">

                            <div class="input-group col-md-6 col-12 pt-0">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">{{ form.treasurer | add_label_class:"mb-0" }}</span>
                                </div>
                                {{ form.treasurer|add_class:"form-control" }}
                                {{ form.treasurer.errors}}
                            </div>

                            <div class="input-group col-md-6 col-12 pt-3 pt-md-0">
                                <div class="input-group-prepend w-sm-25">
                                    <span class="input-group-text">{{ form.treasurer_crsid | add_label_class:"mb-0" }}</span>
                                </div>
                                {{ form.treasurer_crsid|add_class:"form-control" }}
                                {{ form.treasurer_crsid.errors}}
                            </div>
                            
                        </div>

                        <div class="row mt-3">
                           <div class="col-md-9 mb-3">
                                {{ form.active_members.label_tag }}
                                {{ form.active_members|add_class:"form-control" }}
                                {{ form.active_members.errors}}
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-9 mb-3">
                                {{ form.subscription_details.label_tag }}
                                {{ form.subscription_details|add_class:"form-control" }}
                                {{ form.subscription_details.errors}}
                            </div>
                        </div>
                    </div>

                    <!-- Items -->
                    <div class="jumbotron">
                        <h4><i class="fas fa-piggy-bank mr-2"></i> General Funding</h4>
                        <p class="mt-3">Please detail ALL expenses to be incurred in normal operation during the coming year and why (if not obvious) they are necessary. (from Annual Consumable Grant)</p>
    
                        <table class="table table-light" id="itemsGeneral"></table>
    
                        <button type="button" class="btn btn-primary mt-2" id="addItemGeneral">
                            <i class="fas fa-plus mr-1"></i> Add Item
                        </button>
                    </div>

                    <div class="jumbotron">
                        <h4><i class="fas fa-trophy mr-2"></i> Cuppers Allowance</h4>
                        <p class="mt-3">If you are a team that will enter a cuppers competition, you will need additional funding depending on how many cuppers matches you need to play. Please detail all of the possible additional cuppers costs here. (from Annual Consumable Grant)</p>
    
                        <table class="table table-light" id="itemsCuppers"></table>
    
                        <button type="button" class="btn btn-primary mt-2" data-toggle="modal" data-target="#addItemModal" id="addItemCuppers">
                            <i class="fas fa-plus mr-1"></i> Add Item
                        </button>
                    </div>

                    <div class="jumbotron">
                        <h4><i class="fas fa-file-invoice-dollar mr-2"></i> Exceptional Costs</h4>
                        <p class="mt-3">Detail any exceptional (non-recurring) expenses you expect to incur during the forthcoming financial year (including kit/equipment) and why you want this additional level of funding. (from Depreciation Fund)</p>
    
                        <table class="table table-light" id="itemsExceptional"></table>
    
                        <button type="button" class="btn btn-primary mt-2" data-toggle="modal" data-target="#addItemModal" id="addItemExceptional">
                            <i class="fas fa-plus mr-1"></i> Add Item
                        </button>
                    </div>
                    
                    
                    <div class="jumbotron">
                        <h4><i class="fas fa-wallet mr-2"></i> Bank Details</h4>
                        <p>Does your society have a bank account?</p>
                        
                        <div class="btn-group btn-group-toggle" data-toggle="buttons" id="id_has_bank_account">
                            {% for radio in form.has_bank_account %}
                            <button id="id_bankbutton_{{forloop.counter0}}"class="btn btn-primary pb-0 {% if forloop.last %}active{% endif %}">
                              {{ radio }}
                              
                            </label>
                            {% endfor %}
                          </div>

                        <div id="bankInfo">
                            <p class="mt-3">Your bank details are encrypted and stored in a database on the JCR server, which is hosted by Downing College. For more information about how we process your data, please refer to our data protection policy, accessible on the JCR website.</p>
                            <div class="row mt-4">
                                <div class="col-md-6 mb-3">
                                    {{ form.sort_code.label_tag }}
                                    {{ form.sort_code|add_class:"form-control" }}
                                    {{ form.sort_code.errors}}
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{ form.account_number.label_tag }}
                                    {{ form.account_number|add_class:"form-control" }}
                                    {{ form.account_number.errors }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    {{ form.name_of_bank.label_tag }}
                                    {{ form.name_of_bank|add_class:"form-control" }}
                                    {{ form.name_of_bank.errors }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 mb-1">
                                    {{ form.balance.label_tag }}
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">£</span>
                                        </div>
                                        {{ form.balance|add_class:"form-control" }}
                                        {{ form.balance.errors }}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="jumbotron">
                        <h4><i class="fas fa-question mr-2"></i> Comments and Queries</h4>
                        <p>If there is a significant change in anticipated costs expected in the forthcoming year compared to the previous year, please outline why there is going to be a change as well as justification for the change. </p>
                        {{ form.comments|add_class:"form-control" }}
                        {{ form.comments.errors }}
                    </div>

                    <div class="jumbotron">
                        <h4><i class="fas fa-map-signs mr-2"></i> Summary</h4>
                        <p>
                        Total ACG: £<span id="totalAmountInSummaryAcg">0.00</span> <br>
                        Total Depreciation: £<span id="totalAmountInSummaryDep">0.00</span> <br>
                        Total: £<span id="totalAmountInSummary">0.00</span>
                        </p>
    
                        <div class="d-lg-none">
                            <p>Please ensure that any request made under the ACG conforms to the regulations as set out on the JCR website. In particular, please be advised that alcohol and other non-essential spending may not be funded via this route.</p>
                            <a target=_blank href="https://downingjcr.co.uk/jcr/soc-funding"
                               class="btn btn-light"><span>ACG Information <i
                                    class="fas fa-angle-right ml-1"></i></span></a>
                        </div>
    
                        <p class="mt-3">After you hit 'finish' below, you won't be able to make any changes to this request. </p>
    
                    </div>
                    
                    <div class="btn-group btn-block" role="group">

                        <button type="submit" class="btn btn-secondary col-6" data-toggle="modal" id="saveButton" name="save_button">
                            Save as Draft <i class="fas fa-save ml-1"></i>
                        </button>

                        <button type="submit" class="btn btn-primary col-6" data-toggle="modal" id="finishButton" name="finish_button">
                            Finish <i class="fas fa-arrow-right ml-1"></i>
                        </button>

                    </div>
    
            </div>
        
        
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 d-none d-lg-block">
                <div class="list-group">
                    <p class="list-group-item">Please ensure that any request made under the ACG conforms to the regulations
                        as set out on the JCR website. <br>In particular, please be advised
                                that alcohol and other non-essential spending may not be funded via this route.</p>
                    <a target="_blank" href="https://downingjcr.co.uk/jcr/soc-funding"
                       class="list-group-item d-flex justify-content-between align-items-center">
                        <span>ACG Information</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
    
                </div>
            </div>
        </div>
    </form>
</div>


<form id="id_addItemForm">

    <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addItemModalTitle">Add Item</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        {{ item_form.title|add_label_class:"mt-3" }}
                        {{ item_form.title|add_class:"form-control" }}
                        
                        {{ item_form.amount|add_label_class:"mt-3"}}
                        
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">£</span>
                            </div>
                            {{ item_form.amount|add_class:"form-control"}}
                        </div>

                        {{ item_form.description|add_label_class:"mt-3"}}
                        {{ item_form.description|add_class:"form-control" }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                    </button>
                    <button type="submit" id="addItemButton" class="btn btn-primary">Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" tabindex="-1" role="dialog" id="loadingModal">
    <div class="modal-dialog modal-dialog-centered text-center" role="document">
        <span class="fa fa-spinner fa-spin fa-3x w-100"></span>
    </div>
</div>


{% endblock %}