{% extends 'budget/base-student.html' %}

{% load custom_filters %}
{% load widget_tweaks %}

{% block content %}

<head>
    <title>Budget {{ budget.budget_id }} | DCAC Budget</title>
    <style>
        .form-control {background-color: white !important;}
    </style>
</head>

<script>

    window.CSRF_TOKEN = "{{ csrf_token }}";

    $(document).ready(function () {

        showItems();

    });

    var items = {{ existingItems|safe }}

    function generateTableRowFromItem(item, budgetType, index) {
        return "<tr><td class='col-8'><p>" + item.title + "<br><span class='small'>" + item.description + "</span></p></td>"
            + "<td>£" + item.amount + "</td>";
    }


    function showItems() {
        var total = 0;
        var totalAmountAcg = 0;
        var totalAmountDep = 0;
        for (const budgetType in items) {
            var itemsHtml = "";
            let itemsOfType = items[budgetType]

            itemsOfType.forEach(function (item, index) {
                itemsHtml += generateTableRowFromItem(item, budgetType, index);
                if (budgetType == 'Exceptional') {
                    totalAmountDep += parseFloat(item.amount);
                } else {
                    totalAmountAcg += parseFloat(item.amount);
                }
                total += parseFloat(item.amount);
                
            });
            $('#items' + budgetType).html(itemsHtml);
            
        }
        $('#totalAmountInSummaryAcg').html(totalAmountAcg.toFixed(2));
        $('#totalAmountInSummaryDep').html(totalAmountDep.toFixed(2));
        $('#totalAmountInSummary').html(total.toFixed(2));
        $('#itemsJson').val(JSON.stringify(items));

    }

</script>


<div class="container-fluid d-block" style="background: #A39161">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron mt-sm-2 pt-3 pt-sm-5 pb-3 pb-sm-5" style="background: white">
                    <div class="row mb-sm-2" id="titleDiv">
                        <div class="col-12">
                            <h2 align="center">Budget - {{ budget.organization }}</h2>
                            <p style="text-transform: uppercase; font-size: 1.5em; color: grey" align="center">
                            {{budget.year|str_academic_year}}
                            </p>
                            <p align="center" class="mb-0">This is a submitted budget, and can no longer be edited</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>

<div class="container mt-4">
    <form id="id_budgetForm" action="{% url 'budegt-submit' %}" method="POST">
        <div class="row mb-5">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="jumbotron" id="organizationDiv">
                    <h4><i class="fas fa-football-ball mr-2"></i> Organisation</h4>
                    <span class="form-control">{{ budget.organization }}</span>
                </div>

                <div class="jumbotron">
                    <h4><i class="fas fa-info-circle mr-2"></i> Society Details</h4>
                    
                    <div class="row mt-3">

                        <div class="input-group col-md-6 col-12 pt-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text mb-0">President</span>
                            </div>
                            <input type="text" class="form-control" readonly value="{{ budget.president }}"></input>
                        </div>

                        
                        <div class="input-group col-md-6 col-12 pt-3 pt-md-0 pb-3 pb-md-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text">CRSid</span>
                            </div>
                            <input type="text" class="form-control" readonly value="{{ budget.president_crsid }}"></input>
                        </div>                           
                        
                    </div>

                    <div class="row mt-3">

                        <div class="input-group col-md-6 col-12 pt-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text mb-0">Treasurer</span>
                            </div>
                            <input type="text" class="form-control" readonly value="{{ budget.treasurer }}"></input>
                        </div>

                        <div class="input-group col-md-6 col-12 pt-3 pt-md-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text mb-0">CRSid</span>
                            </div>
                            <input type="text" class="form-control" readonly value="{{ budget.treasurer_crsid }}"></input>
                        </div>
                        
                    </div>

                    <div class="row mt-3">
                           <div class="col-md-9 mb-3">
                                Active Members:
                                <input type="text" class="form-control" readonly value="{{ budget.active_members }}"></input>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-9 mb-3">
                                Subcription Details:
                                <textarea type="text" class="form-control" readonly>{{ budget.subscription_details }}</textarea>
                            </div>
                        </div>
                </div>

                <!-- Add Items -->
                <div class="jumbotron">
                    <h4><i class="fas fa-piggy-bank mr-2"></i> General Funding</h4>
                    <p class="mt-3">Please detail ALL expenses to be incurred in normal operation during the coming year and why (if not obvious) they are necessary. (from Annual Consumable Grant)</p>

                    <table class="table table-light" id="itemsGeneral"></table>
                </div>

                <div class="jumbotron">
                    <h4><i class="fas fa-trophy mr-2"></i> Cuppers Allowance</h4>
                    <p class="mt-3">If you are a team that will enter a cuppers competition, you will need additional funding depending on how many cuppers matches you need to play. Please detail all of the possible additional cuppers costs here. (from Annual Consumable Grant)</p>

                    <table class="table table-light" id="itemsCuppers"></table>
                </div>

                <div class="jumbotron">
                    <h4><i class="fas fa-file-invoice-dollar mr-2"></i> Exceptional Costs</h4>
                    <p class="mt-3">Detail any exceptional (non-recurring) expenses you expect to incur during the forthcoming financial year (including kit/equipment) and why you want this additional level of funding. (from Depreciation Fund)</p>

                    <table class="table table-light" id="itemsExceptional"></table>
                </div>
                
                
                <div class="jumbotron">
                    <h4><i class="fas fa-wallet mr-2"></i> Bank Details</h4>
                    {% if not budget.has_bank_account %}
                    <p>Your society does not have a bank account.</p>
                    
                    {% else %}

                    <div id="bankInfo">
                    
                        <div class="row mt-4">
                            <div class="col-md-6 mb-3">
                                <label>Sort Code:</label>
                                <input type="text" class="form-control" readonly value="{{ budget.sort_code }}"></input>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Account Number:</label>
                                <input type="text" class="form-control" readonly value="{{ budget.account_number }}"></input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label>Bank Name:</label>
                                <input type="text" class="form-control" readonly value="{{ budget.name_of_bank }}"></input>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mb-1">
                                <label>Rough Balance (at time of submitting):</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">£</span>
                                    </div>
                                <input type="text" class="form-control" readonly value="{{ budget.balance }}"></input>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="jumbotron">
                    <h4><i class="fas fa-question mr-2"></i> Comments and Queries</h4>
                    <p>If there is a significant change in anticipated costs expected in the forthcoming year compared to the previous year, please outline why there is going to be a change as well as justification for the change. </p>
                    <textarea type="text" class="form-control" readonly>{{ budget.comments }}</textarea>
                </div>

                <div class="jumbotron">
                    <h4><i class="fas fa-map-signs mr-2"></i> Summary</h4>
                    <p>
                    Total ACG: £<span id="totalAmountInSummaryAcg">0.00</span> <br>
                    Total Depreciation: £<span id="totalAmountInSummaryDep">0.00</span> <br>
                    Total: £<span id="totalAmountInSummary">0.00</span>
                    </p>

                </div>
           </div>
        </div>
    </form>
</div>

{% endblock %}