{% extends 'budget/base-admin.html' %}

{% load custom_filters %}
{% load widget_tweaks %}

{% block content %}

<head>
    <title>Budget {{ budget.budget_id }} | DCAC Budget</title>
    <style>
        .form-control {
            background-color: white !important;
        }
    </style>
</head>

<script>

    window.CSRF_TOKEN = "{{ csrf_token }}";

    $(document).ready(function () {

        showItems();

        $.ajaxSetup({
            data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
        });

        $('#id_addComment').submit(function (event) {
            event.preventDefault();
            postComment()
        });

        $('textarea[name="budgetComments"]').val("{{ budget.treasurer_comments|escapejs }}")


    });

    var items = {{ existingItems| safe }}

    function getItemById(entryId) {
        // Return the item with a given id
        let itemsList = [].concat(items['General'], items['Cuppers'], items['Exceptional'])
        let item = itemsList.filter(x => x.entry_id == entryId)[0]
        return item
    }

    function postComment() {
        let form = $('#id_addComment')[0];

        data = {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'comment': $('textarea[name="comment"]').val(),
            'target': $('form#id_addComment input[name="target"]').val()
        }


        $.ajax({
            url: '{{ request.path }}',
            type: 'POST',
            data: data,

            success: function (response) {
                if (response.target == 'budget') {
                    $('textarea[name="budgetComments"]').val(response.comment)
                } else {
                    let item = getItemById(response.target)
                    item.treasurer_comments = response.comment
                }
                $('#addCommentModal').modal('hide')
                showItems()
            },

        });
    }



    function generateTableRowFromItem(item) {
        let comments = item.treasurer_comments.replace(/(?:\r\n|\r|\n)/g, '<br>');
        return "<tr><td class='col-8'><p>" + item.title + "<br><span class='small'>" + item.description + "<br><mark>" + comments + "</mark></span></p></td>"
            + "<td>£" + item.amount + "</td>"
            + "<td><button type='button' class=\'btn btn-primary btn-sm\' onclick=\'addItemComment(" + item.entry_id + ")\'><i class=\"fas fa-edit mr-1\"></i> Comment</button></td>";
    }

    function addItemComment(item_id) {
        let item = getItemById(item_id)

        $('form#id_addComment input[name="target"]').val(item_id)
        $('textarea[name="comment"]').val(item.treasurer_comments)

        $('#addCommentModal').modal('show')
    }

    function addBudgetComment() {
        let currentComments = $('textarea[name="budgetComments"]').val()

        $('form#id_addComment input[name="target"]').val('budget')
        $('textarea[name="comment"]').val(currentComments)

        $('#addCommentModal').modal('show')

    }

    function approveBudget() {
        $('#approveBudgetModal').modal('show')
    }

    function convertDraft() {
        $('#convertDraftModal').modal('show')

    }

    function editAmounts() {
        $('#editAmountsModal').modal('show')

    }

    function showItems() {
        var total = 0;
        var totalAmountAcg = 0;
        var totalAmountDep = 0;
        for (const budgetType in items) {
            var itemsHtml = "";
            let itemsOfType = items[budgetType]

            itemsOfType.forEach(function (item, index) {
                itemsHtml += generateTableRowFromItem(item, budgetType, index);
                if (budgetType == 'Exceptional') {
                    totalAmountDep += parseFloat(item.amount);
                } else {
                    totalAmountAcg += parseFloat(item.amount);
                }
                total += parseFloat(item.amount);

            });
            $('#items' + budgetType).html(itemsHtml);

        }
        $('#totalAmountInSummaryAcg').html(totalAmountAcg.toFixed(2));
        $('#totalAmountInSummaryDep').html(totalAmountDep.toFixed(2));
        $('#totalAmountInSummary').html(total.toFixed(2));
        $('#itemsJson').val(JSON.stringify(items));

    }

</script>


<div class="container-fluid d-block bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron mt-sm-2 pt-3 pt-sm-5 pb-3 pb-sm-5" style="background: white">
                    <div class="row mb-sm-2" id="titleDiv">
                        <div class="col-12">
                            <h2 align="center">Budget - {{ budget.organization }}</h2>
                            <p style="text-transform: uppercase; font-size: 1.5em; color: grey" align="center">
                                {{budget.year|str_academic_year}}
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>

<div class="container mt-4">
    <form id="id_budgetForm" action="">
        {% if not budget.submitted %}

        <div class="row mb-4">
            <div class="col-12">
                <div class="alert alert-secondary">
                    <p>This is a draft, and can still be edited by the original submitter of the budget, the president
                        of the society, and the treasurer of the society.</p>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="row mb-5">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="jumbotron" id="organizationDiv">
                    <h4><i class="fas fa-football-ball mr-2"></i> Organisation</h4>
                    <span class="form-control">{{ budget.organization }}</span>
                </div>

                <div class="jumbotron">
                    <h4><i class="fas fa-info-circle mr-2"></i> Society Details</h4>

                    <div class="row mt-3">

                        <div class="input-group col-md-6 col-12 pt-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text mb-0">President</span>
                            </div>
                            <input type="text" class="form-control" readonly value="{{ budget.president }}"></input>
                        </div>


                        <div class="input-group col-md-6 col-12 pt-3 pt-md-0 pb-3 pb-md-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text">CRSid</span>
                            </div>
                            <input type="text" class="form-control" readonly
                                value="{{ budget.president_crsid }}"></input>
                        </div>

                    </div>

                    <div class="row mt-3">

                        <div class="input-group col-md-6 col-12 pt-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text mb-0">Treasurer</span>
                            </div>
                            <input type="text" class="form-control" readonly value="{{ budget.treasurer }}"></input>
                        </div>

                        <div class="input-group col-md-6 col-12 pt-3 pt-md-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text mb-0">CRSid</span>
                            </div>
                            <input type="text" class="form-control" readonly
                                value="{{ budget.treasurer_crsid }}"></input>
                        </div>

                    </div>

                    <div class="row mt-3">
                        <div class="col-md-9 mb-3">
                            Active Members:
                            <input type="text" class="form-control" readonly
                                value="{{ budget.active_members }}"></input>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-9 mb-3">
                            Subcription Details:
                            <textarea type="text" class="form-control"
                                readonly>{{ budget.subscription_details }}</textarea>
                        </div>
                    </div>

                </div>

                <!-- Items -->
                <div class="jumbotron">
                    <h4><i class="fas fa-piggy-bank mr-2"></i> General Funding</h4>
                    <p class="mt-3">Please detail ALL expenses to be incurred in normal operation during the coming year
                        and why (if not obvious) they are necessary. (from Annual Consumable Grant)</p>

                    <table class="table table-light" id="itemsGeneral"></table>
                </div>

                <div class="jumbotron">
                    <h4><i class="fas fa-trophy mr-2"></i> Cuppers Allowance</h4>
                    <p class="mt-3">If you are a team that will enter a cuppers competition, you will need additional
                        funding depending on how many cuppers matches you need to play. Please detail all of the
                        possible additional cuppers costs here. (from Annual Consumable Grant)</p>

                    <table class="table table-light" id="itemsCuppers"></table>
                </div>

                <div class="jumbotron">
                    <h4><i class="fas fa-file-invoice-dollar mr-2"></i> Exceptional Costs</h4>
                    <p class="mt-3">Detail any exceptional (non-recurring) expenses you expect to incur during the
                        forthcoming financial year (including kit/equipment) and why you want this additional level of
                        funding. (from Depreciation Fund)</p>

                    <table class="table table-light" id="itemsExceptional"></table>
                </div>


                <div class="jumbotron">
                    <h4><i class="fas fa-wallet mr-2"></i> Bank Details</h4>
                    {% if not budget.has_bank_account %}
                    <p>This society does not have a bank account.</p>

                    {% else %}

                    <div id="bankInfo">

                        <div class="row mt-4">
                            <div class="col-md-6 mb-3">
                                <label>Sort Code:</label>
                                <input type="text" class="form-control" readonly value="{{ budget.sort_code }}"></input>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Account Number:</label>
                                <input type="text" class="form-control" readonly
                                    value="{{ budget.account_number }}"></input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label>Bank Name:</label>
                                <input type="text" class="form-control" readonly
                                    value="{{ budget.name_of_bank }}"></input>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mb-1">
                                <label>Rough Balance (at time of submitting):</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">£</span>
                                    </div>
                                    <input type="text" class="form-control" readonly
                                        value="{{ budget.balance }}"></input>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="jumbotron">
                    <h4><i class="fas fa-question mr-2"></i> Comments and Queries</h4>
                    <p>If there is a significant change in anticipated costs expected in the forthcoming year compared
                        to the previous year, please outline why there is going to be a change as well as justification
                        for the change. </p>
                    <textarea type="text" class="form-control" readonly>{{ budget.comments }}</textarea>
                    <button type="button" class="btn btn-primary mt-3 mb-3" onclick=addBudgetComment()><i
                            class="fas fa-edit mr-2"></i> Edit Treasurer Comments</button>
                    <textarea name="budgetComments" rows="8" class="form-control"
                        readonly>{{ budget.treasurer_comments }}</textarea>
                </div>

                <div class="jumbotron">
                    <h4><i class="fas fa-map-signs mr-2"></i> Summary</h4>
                    <h5>Requested amounts:</h5>
                    <p>
                        Total ACG: £<span id="totalAmountInSummaryAcg">0.00</span> <br>
                        Total Depreciation: £<span id="totalAmountInSummaryDep">0.00</span> <br>
                        Total: £<span id="totalAmountInSummary">0.00</span>
                    </p>
                    {% if budget.approved %}
                    <h5>Approved amounts:</h5>
                    <p>
                        Total ACG: £<span>{{budget.amount_acg}}</span> <br>
                        Total Depreciation: £<span>{{budget.amount_dep}}</span> <br>
                    </p>
                    {% endif %}
                </div>
                {% if budget.submitted %}
                <div class="jumbotron">
                    <h4><i class="fa fa-solid fa-cog mr-2"></i> Budget Management</h4>
                    {% if not budget.approved %}
                    <button type="button" class="btn btn-success" onclick=approveBudget()><i class="fas fa-check mr-2"></i>Approve budget</button>
                    <br>
                    <button type="button" class="btn btn-danger mt-2" onclick=convertDraft()><i class="fas fa-pen mr-2"></i>Convert budget to draft</button>
                    {% else %}
                    <p>The budget has now been approved. The amounts can still be edited. For any other changes, please email the Internet Officer.</p>
                    <button type="button" class="btn btn-danger mt-2" onclick=editAmounts()><i class="fas fa-pen mr-2"></i>Edit amounts</button>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>

    </form>
</div>

<form id="id_addComment" action="{% url 'view-budget-admin' budget.budget_id %}" method="POST">
    {% csrf_token %}

    <input hidden name="target"></input>
    <div class="modal fade" id="addCommentModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Comment</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Treasurer Comments:</p>
                    <textarea class="form-control" name="comment" rows=5></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                    </button>
                    <button type="submit" id="addItemButton" class="btn btn-primary">Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="id_approveBudget" action="{% url 'view-budget-admin' budget.budget_id %}" method="POST">
    {% csrf_token %}

    <input hidden name="target" value="approve"></input>
    <div class="modal fade" id="approveBudgetModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit amounts and approve?</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="amount_acg">ACG Amount</label>
                        <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">£</span>
                        </div>
                   
                        <input name="amount_acg" class="form-control" type="number" step="0.01" value="{{budget.amount_acg|floatformat:2}}">
                    </div>
                    </div>                    <div class="form-group">
                        <label for="amount_dep">Depreciation Amount</label>
                        <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">£</span>
                        </div>
                   
                        <input name="amount_dep" class="form-control" type="number" step="0.01" value="{{budget.amount_dep|floatformat:2}}">
                    </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel
                    </button>
                    <button type="submit" id="approveButton" class="btn btn-success">Approve
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="id_editAmounts" action="{% url 'view-budget-admin' budget.budget_id %}" method="POST">
    {% csrf_token %}

    <input hidden name="target" value="editAmounts"></input>
    <div class="modal fade" id="editAmountsModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit amounts?</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="amount_acg">ACG Amount</label>
                        <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">£</span>
                        </div>
                   
                        <input name="amount_acg" class="form-control" type="number" step="0.01" value="{{budget.amount_acg|floatformat:2}}">
                    </div>
                    </div>                    <div class="form-group">
                        <label for="amount_dep">Depreciation Amount</label>
                        <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">£</span>
                        </div>
                   
                        <input name="amount_dep" class="form-control" type="number" step="0.01" value="{{budget.amount_dep|floatformat:2}}">
                    </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cancel
                    </button>
                    <button type="submit" id="editAmountsButton" class="btn btn-danger">Edit
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="id_convertDraft" action="{% url 'view-budget-admin' budget.budget_id %}" method="POST">
    {% csrf_token %}

    <input hidden name="target" value="convertDraft"></input>
    <div class="modal fade" id="convertDraftModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Convert budget to draft?</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cancel
                    </button>
                    <button type="submit" id="convertDraftButton" class="btn btn-danger">Convert
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}