{% load custom_filters %}
{% load budget_filters %}
{% load widget_tweaks %}
<script>
  function addManualCost() {
        $('#addManualCostModal').modal('show')
  }
  function deleteManualCost(id) {
    $('input[name="manual_adjustment_id"]').val(id)
    $('#deleteManualCostModal').modal('show')
  }
</script>
<style>
    main {
      display: grid;
      grid-template-columns: minmax(0, 3fr) 4px minmax(0, 2fr);
      justify-items: center;
      gap: 2vw;
      row-gap: 20px;
      height: 100%;
      align-items: center;
      margin-top: 20px;
    }


    @media (max-width: 700px) {
      main {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 2vw;
        height: 100%;
        align-items: center;
      }
      #info {
        margin-top: 20px;
      }
    }

    .chart {
      max-height: 50vh;
    }

    .middleLine {
      background: #f2f2f2;
      width: 4px;
      /* justify-self: left; */
      height: 80%;
    }
    .bottomLine {
      background: black;
      width: 85%;
      /* justify-self: left; */
      height: 2px;
      grid-column: span 3;
    }

    .postTitle {
      text-decoration: underline;
      text-align: center;
    }

    #info {
      width: 90%;
    }

    #chartSide {
      width: 90%;
    }
  </style>
<div class="container-fluid d-block bg-primary">

  <div class="container">

      <div class="row">
          <div class="col-12">
              <div class="jumbotron mt-sm-2 pt-3 pt-sm-5 pb-3 pb-sm-5" style="background: white">
                  <div class="row mb-sm-2" id="titleDiv">
                      <div class="col-12">
                          <h2 align="center">Budget Usage - {{budgetdata.budget.organization.name}} - {{budgetdata.budget.year|str_academic_year}}</h2>
                          <p style="text-transform: uppercase; font-size: 1.5em; color: grey" align="center">
                          </p>
                          <p align="center" class="mb-0">Below is the budget usage of {{budgetdata.budget.organization.name}} for {{budgetdata.budget.year|str_academic_year}}.<br>
                          </p>
                          <p align="center">'Paid' funds are those that have been reimbursed by the bursary. 'Pending' funds that are part of reimbursement requests that have not been rejected and have not been paid by the bursary. 'Spent' refers to the total amount of paid and pending funds.</p>
                          <p align="center">Please note, while these amounts should be accurate in 99.9% of cases, in the event of a discrepancy the Bursary records are final. Please direct any queries to <a href="mailto:treasurer@jcr.dow.cam.ac.uk">treasurer@jcr.dow.cam.ac.uk</a>.</p>
                      </div>
                  </div>

              </div>
          </div>
      </div>


  </div>
</div>
<script>

  $(document).ready(function () {

      $(".clickable-row").click(function () {
          window.location = $(this).data("href");
      });

  });

</script>
<main>

  <div id="info">
    <h3>Reimbursement requests</h3>
    {% if budgetdata.reimbursements|length == 0 %}
    <p>No reimbursement requests to show. </p>
    {% else %}
    <table id="reqTable" class="table table-bordered table-striped table-hover mt-4">
      <thead>
        <th>Submitter</th>
        <th>Date</th>
        <th>Total amount</th>
        <th>Status</th>
      </thead>
      <tbody>
        
      {% for reimbursement in budgetdata.reimbursements %}
      {% if view == "student" %}
      <tr class="clickable-row" data-href="{% url 'view-request' reimbursement.form_id %}" style="cursor: pointer;">
        {% elif view == "admin" %}
        <tr class="clickable-row" data-href="{% url 'view-request-admin' reimbursement.form_id %}" style="cursor: pointer;">
        {% endif %}
        <td>{{reimbursement.submitter}}</td>
        <td>{{reimbursement.date}}</td>
        <td>£{{reimbursement.amount|floatformat:"2"}}</td>
        {% if reimbursement.bursary_paid %}
        <td>Paid</td>
        {% elif reimbursement.senior_treasurer_approved %}
        <td>Approved by Senior Treasurer</td>
        {% elif reimbursement.jcr_treasurer_approved %}
        <td>Approved by JCR Treasurer</td>
        {% else %}
        {{ reimbursement.junior_treasurer_approved }}
        <td>Awaiting approval</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
    </table>
    {% endif %}
    {% if view == "admin" %}
    <hr>
    <h3>Manual adjustments</h3>
    <button type="button" class="btn btn-danger" onclick=addManualCost()><i class="fa fa-plus"></i> Add manual adjustment</button>
    {% if budgetdata.manual_adjustments|length == 0 %}
    <p class="pt-3">No manual adjustments to display at this time.</p>
    {% else %}
    <table id="manCostTable" class="table table-bordered table-striped table-hover mt-4">
      <thead>
        <th>Date</th>
        <th>Amount</th>
        <th>Source</th>
        <th>Reason</th>
        <th></th>
      </thead>
      <tbody>
      {% for manual_adjustment in budgetdata.manual_adjustments %}
        <td>{{manual_adjustment.date}}</td>
        {% if manual_adjustment.amount < 0 %}
        <td><i class="fa fa-minus text-danger"></i> £{{manual_adjustment.amount|remove_minus|floatformat:"2"}}</td>
        {% else %}
        <td><i class="fa fa-plus text-success"></i> £{{manual_adjustment.amount|floatformat:"2"}}</td>
        {% endif %}
        <td>{{manual_adjustment.fund_source|fund_source_as_text}}</td>
        <td>{{manual_adjustment.reason}}</td>
        <td><i class="fa fa-trash text-danger" onclick="deleteManualCost({{manual_adjustment.id}})"></i></td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
        {% endif %}
    {% else %}
    {% if budgetdata.manual_adjustments|length > 0 %}
    <hr>
    <h3>Manual adjustments</h3>
    <table id="manCostTable" class="table table-bordered table-striped table-hover mt-4">
      <thead>
        <th>Date</th>
        <th>Amount</th>
        <th>Source</th>
        <th>Reason</th>
      </thead>
      <tbody>
      {% for manual_adjustment in budgetdata.manual_adjustments %}
        <td>{{manual_adjustment.date}}</td>
        {% if manual_adjustment.amount < 0 %}
        <td><i class="fa fa-minus text-danger"></i> £{{manual_adjustment.amount|remove_minus|floatformat:"2"}}</td>
        {% else %}
        <td><i class="fa fa-plus text-success"></i> £{{manual_adjustment.amount|floatformat:"2"}}</td>
        {% endif %}
        <td>{{manual_adjustment.fund_source|fund_source_as_text}}</td>
        <td>{{manual_adjustment.reason}}</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
    {% endif %}
    {% endif %}
    <hr>
    <h3>Budget</h3>
    <table class="table table-bordered mt-4">
      <thead>
        <tr>
          <th></th>
          {% if budgetdata.budget.amount_acg and budgetdata.budget.amount_acg_float != 0 %}
          <th style="text-align: center;">ACG</th>
          {% endif %}
          {% if budgetdata.budget.amount_dep and budgetdata.budget.amount_dep_float != 0 %}
          <th style="text-align: center;">Depreciation</th>
          {% endif %}
        </tr>
      </thead>
      <tr>
        <th align="right">Budget</th>
        {% if budgetdata.budget.amount_acg and budgetdata.budget.amount_acg_float != 0 %}
        <td align="center">£{{budgetdata.acg_budget|floatformat:"2"}}</td>
        {% endif %}
        {% if budgetdata.budget.amount_dep and budgetdata.budget.amount_dep_float != 0 %}
        <td align="center">£{{budgetdata.dep_budget|floatformat:"2"}}</td>
        {% endif %}
      </tr>
      <tr>
        <th align="left">Pending</th>
        {% if budgetdata.budget.amount_acg and budgetdata.budget.amount_acg_float != 0 %}
        <td align="center">£{{budgetdata.acg_pending_total|floatformat:"2"}}</td>
        {% endif %}
        {% if budgetdata.budget.amount_dep and budgetdata.budget.amount_dep_float != 0 %}
        <td align="center">£{{budgetdata.dep_pending_total|floatformat:"2"}}</td>
        {% endif %}
      </tr>
      {% if budgetdata.manual_acg_cost != 0 or budgetdata.manual_dep_cost != 0 %}
      <tr>
        <th>Manual</th>
        {% if budgetdata.budget.amount_acg and budgetdata.budget.amount_acg_float != 0 %}
        <td align="center">£{{budgetdata.manual_acg_cost|floatformat:"2"}}</td>
        {% endif %}
        {% if budgetdata.budget.amount_dep and budgetdata.budget.amount_dep_float != 0 %}
        <td align="center">£{{budgetdata.manual_dep_cost|floatformat:"2"}}</td>
        {% endif %}
      </tr>
      {% endif %}
      <tr>
        <th align="left">Spent</th>
        {% if budgetdata.budget.amount_acg and budgetdata.budget.amount_acg_float != 0 %}
        <td align="center">£{{budgetdata.acg_total|floatformat:"2"}}</td>
        {% endif %}
        {% if budgetdata.budget.amount_dep and budgetdata.budget.amount_dep_float != 0 %}
        <td align="center">£{{budgetdata.dep_total|floatformat:"2"}}</td>
        {% endif %}
      </tr>
      <tr>
        <th align="left">Remaining</th>
        {% if budgetdata.budget.amount_acg and budgetdata.budget.amount_acg_float != 0 %}
        <td align="center">£{{budgetdata.acg_remaining|floatformat:"2"}}</td>
        {% endif %}
        {% if budgetdata.budget.amount_dep and budgetdata.budget.amount_dep_float != 0 %}
        <td align="center">£{{budgetdata.dep_remaining|floatformat:"2"}}</td>
        {% endif %}
      </tr>
    </table>
    <hr>
  </div>
  <div class="middleLine" id="middleLine"></div>
  <div id="chartSide" class="mt-5">
    {% if budgetdata.budget.amount_acg and budgetdata.budget.amount_acg_float != 0 %}
    <h3 style="text-align: center;">ACG</h3>
    <div id="chartContainer">
      <canvas class="chart" id="acgChart"></canvas>
    </div>
    {% endif %}
    {% if budgetdata.budget.amount_dep and budgetdata.budget.amount_dep_float != 0 %}
    <h3 style="text-align: center;"  class="mt-5">Depreciation Fund</h3>
    <div id="depreciationContainer">
      <canvas class="chart" id="depreciationChart"></canvas>
    </div>
    {% endif %}
    <script src=" https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js "></script>

    <script>
      Chart.register({
        id: 'customPluginName',
        beforeDraw: function (chart, args, options) {
          if (chart.config.options.elements.center) {
            // Get ctx from string
            const { ctx } = chart;

            // Get options from the center object in options
            var centerConfig = chart.config.options.elements.center;
            var fontStyle = centerConfig.fontStyle || 'Arial';
            var txt = centerConfig.text;
            var color = centerConfig.color || '#000';
            var maxFontSize = centerConfig.maxFontSize || 75;
            var sidePadding = centerConfig.sidePadding || 20;
            let innerRadius = chart._metasets[0].controller.innerRadius
            var sidePaddingCalculated = (sidePadding / 100) * (innerRadius * 2)
            // Start with a base font of 30px
            ctx.font = "30px " + fontStyle;
            // Get the width of the string and also the width of the element minus 10 to give it 5px side padding
            var stringWidth = ctx.measureText(txt).width;
            var elementWidth = (innerRadius * 2) - sidePaddingCalculated;
            // Find out how much the font can grow in width.
            var widthRatio = elementWidth / stringWidth;
            var newFontSize = Math.floor(30 * widthRatio);
            var elementHeight = (innerRadius * 2);

            // Pick a new font size so it will not be larger than the height of label.
            var fontSizeToUse = Math.min(newFontSize, elementHeight, maxFontSize);
            var minFontSize = centerConfig.minFontSize;
            var lineHeight = centerConfig.lineHeight || 25;
            var wrapText = false;

            if (minFontSize === undefined) {
              minFontSize = 20;
            }

            if (minFontSize && fontSizeToUse < minFontSize) {
              fontSizeToUse = minFontSize;
              wrapText = true;
            }

            // Set font settings to draw it correctly.
            ctx.textAlign = 'center';
            ctx.textBaseline = 'middle';
            var centerX = ((chart.chartArea.left + chart.chartArea.right) / 2);
            var centerY = ((chart.chartArea.top + chart.chartArea.bottom) / 2);
            ctx.font = fontSizeToUse + "px " + fontStyle;
            ctx.fillStyle = color;

            if (!wrapText) {
              ctx.fillText(txt, centerX, centerY);
              return;
            }

            var words = txt.split(' ');
            var line = '';
            var lines = [];

            // Break words up into multiple lines if necessary
            for (var n = 0; n < words.length; n++) {
              var testLine = line + words[n] + ' ';
              var metrics = ctx.measureText(testLine);
              var testWidth = metrics.width;
              if (testWidth > elementWidth && n > 0) {
                lines.push(line);
                line = words[n] + ' ';
              } else {
                line = testLine;
              }
            }

            // Move the center up depending on line height and number of lines
            centerY -= (lines.length / 2) * lineHeight;

            for (var n = 0; n < lines.length; n++) {
              ctx.fillText(lines[n], centerX, centerY);
              centerY += lineHeight;
            }
            //Draw text in center
            ctx.fillText(line, centerX, centerY);
          }
        }
      });

      const acgCtx = document.getElementById('acgChart');
      const acgData = {
        labels: [
          'Paid',
          'Pending',
          'Remaining'
        ],
        datasets: [{
          label: 'My First Dataset',
          data: [{{ budgetdata.acg_paid_total | floatformat:"2" }}, {{ budgetdata.acg_pending_total | floatformat:"2" }}, {{ budgetdata.acg_remaining| floatformat:"2" }}],
      backgroundColor: [
        '#ea3323',
        '#ff8b00',
        '#1eb253'
      ],
        hoverOffset: 4,

        }]
      };
      const acgConfig = {
        type: 'doughnut',
        data: acgData,
        responsive: true,
        options: {
          cutout: '60%',
          circumference: 360,
          animation: { animateRotate: false },
          legend: {
            display: false,
          },
          elements: {
            center: {
              text: '{{budgetdata.remaining_acg_message}}',
              color: '{{budgetdata.acg_centre_colour}}', // Default is #000000
              fontStyle: 'Lato', // Default is Arial
              sidePadding: 12, // Default is 20 (as a percentage)
              minFontSize: 16, // Default is 20 (in px), set to false and text will not wrap.
              lineHeight: 25 // Default is 25 (in px), used for when text wraps
            }
          },
          plugins: {
            tooltip: {
              callbacks: {
                label: function (context) {
                  return '£' + (Math.round(context.parsed * 100) / 100).toFixed(2);
                },
                labelColor: function (context) {
                  return undefined
                }
              }
            },
            legend: {
              // display: false,
              onClick: () => { }
            }
          }
        }
      };
      Chart.defaults.font.family = 'Lato'
      new Chart(acgCtx,
        acgConfig
      );
      const depreciationCtx = document.getElementById('depreciationChart');
      const depreciationData = {
        labels: [
          'Paid',
          'Pending',
          'Remaining'
        ],
        datasets: [{
          label: 'My First Dataset',
          data: [{{ budgetdata.dep_paid_total | floatformat:"2" }}, {{ budgetdata.dep_pending_total | floatformat:"2"}}, {{ budgetdata.dep_remaining| floatformat:"2" }}],
      backgroundColor: [
        '#ea3323',
        '#ff8b00',
        '#1eb253'
      ],
        hoverOffset: 4,

      }]
      };
      const depreciationConfig = {
        type: 'doughnut',
        data: depreciationData,
        responsive: true,
        options: {
          cutout: '60%',
          circumference: 360,
          animation: { animateRotate: false },
          legend: {
            display: false,
          },
          elements: {
            center: {
              text: '{{budgetdata.remaining_dep_message}}',
              color: '{{budgetdata.dep_centre_colour}}', // Default is #000000
              fontStyle: 'Lato', // Default is Arial
              sidePadding: 10, // Default is 20 (as a percentage)
              minFontSize: 16, // Default is 20 (in px), set to false and text will not wrap.
              lineHeight: 25 // Default is 25 (in px), used for when text wraps
            }
          },
          plugins: {
            tooltip: {
              callbacks: {
                label: function (context) {
                  return '£' + (Math.round(context.parsed * 100) / 100).toFixed(2);
                },
                labelColor: function (context) {
                  return undefined
                }
              }
            },
            legend: {
              // display: false,
              onClick: () => { }
            }
          }
        }
      };
      new Chart(depreciationCtx,
        depreciationConfig
      );
    </script>

  </div>
</main>

{% if view == "admin" %}
<form id="id_addManualCost" action="{% url 'add-manual-cost-admin' %}" method="POST">
  {% csrf_token %}

  <input hidden name="target"></input>
  <div class="modal fade" id="addManualCostModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Add manual cost</h5>
                  <button type="button" class="close" data-dismiss="modal">
                      <span>&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                <input type="hidden" value="{{budgetdata.budget.budget_id}}" name="budget">
                <div class="form-group">
                  <label for="source">Fund source</label><br>
                  <select name="source" class="custom-select">
                    <option selected>Choose...</option>
                    {% if budgetdata.budget.amount_acg_float != 0 %}
                    <option value="1">Annual Consumable Grant</option>
                    {% endif %}
                    {% if budgetdata.budget.amount_dep_float != 0 %}
                    <option value="2">Depreciation Fund</option>
                    {% endif %}
                  </select>
            </div>
            <div class="form-group">
              <label for="amount">Amount and Type</label><br>
              {% if view == "admin" %}
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">£</span>
                  </div>
                  <input type="number" class="form-control" name="amount" placeholder="0.00" value="0.00" min="0" step="0.01"></input>
                   <select name="type" class="form-control">
                  <option>Choose...</option>
                  <option value="0">Deduction</option>  
                  <option value="1">Credit</option>
                  </select>
                </div>
                {% else %}
                <input name="type" type="hidden" value="0"/>
                {% endif %}
        </div>
            <div class="form-group">
                <label for="reason">Reason</label>
                <textarea class="form-control" name="reason" rows=5></textarea>
            </div>
            </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-dismiss="modal">Cancel
                  </button>
                  <button type="submit" class="btn btn-danger">Add
                  </button>
              </div>
          </div>
      </div>
  </div>
</form>

<form id="id_deleteManualCost" action="{% url 'delete-manual-cost-admin' %}" method="POST">
  {% csrf_token %}

  <div class="modal fade" id="deleteManualCostModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Delete manual cost</h5>
                  <button type="button" class="close" data-dismiss="modal">
                      <span>&times;</span>
                  </button>
              </div>
              <div class="modal-footer">
                <input type="hidden" name="manual_adjustment_id">
                <input type="hidden" value="{{budgetdata.budget.budget_id}}" name="budget">
                  <button type="button" class="btn btn-success" data-dismiss="modal">Cancel
                  </button>
                  <button type="submit" class="btn btn-danger">Delete
                  </button>
              </div>
          </div>
      </div>
  </div>
</form>
{% endif %}