<div class="modal fade" id="requestTypes" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Request Types</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    There are three types of reimbursement requests: <br>
                    <ul>
                        <li><b>Standard Request</b></li>
                        <li><b>Internal Transfer:</b> for requests to departments within Downing</li>
                        <li><b>Large Request:</b> for purchases where societies are unable to directly make a purchase over £50. College will complete the purchase on your behalf, and deduct the given amount from your budget</li>
                    </ul>
                    The JCR wishes to ensure that the current reimbursement system for club and society funding does <b>not</b> put any students into financial difficulty, or prevent clubs and societies from being able to make larger purchases. <br><br>
                    In cases where a purchase presents itself as a financial difficulty, you may select the 'Large' option and place a request (with all the necessary information) so that college can complete the purchase for your society using a college credit card. The given amount will then be deducted from your society/club budget. <br><br>
                    Please note that making a standard request will likely mean that it will arrive quicker, and you can be sure of getting the exact item you want. This process creates extra work and takes longer, so we encourage you to <strong>only use the 'Large' option when needed</strong>.
                    
                </p>  
            </div>
        </div>
    </div>
</div>