<div class="modal fade" id="requestTypes" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Request Types</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>There are three types of reimbursement requests:</p>
        <ul>
          <li><b>Standard Request</b></li>
          <li>
            <b>Internal Transfer:</b>
            for requests to departments within Downing
          </li>
          <li>
            <b>Large Request:</b>
            for purchases where societies are unable to directly make a purchase over £50. College will complete the
            purchase on your behalf, and deduct the given amount from your budget
          </li>
        </ul>
        <p>
          The JCR wishes to ensure that the current reimbursement system for club and society funding does
          <b>not</b>
          put any students into financial difficulty, or prevent clubs and societies from being able to make larger
          purchases.
        </p>
        <p>
          For purchases that need to be made using the college credit card, please select the
          <strong>‘Large’</strong>
          option and submit a request with all the necessary information. The amount will then be deducted from your
          society or club budget.
        </p>
        <p>
          For all other purchases, please make a
          <strong>standard request</strong>
          instead. Invoices can be processed more quickly this way. Please enter the bank details shown on the invoice
          instead of your own. Using the ‘Large’ option when it’s not required adds extra processing time and workload,
          so please only select it when the college card is needed.
        </p>
      </div>
    </div>
  </div>
</div>
