<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <a class="navbar-brand d-none d-md-block" href="{% if view == "student" %} {% url 'dashboard' %}{% elif view == "admin" %}{% url 'dashboard-admin' %}{% endif %}">
        <img src="https://www.jcr.dow.cam.ac.uk/storage/app/media/dcac_logo.png" width="80"
             style="padding-right: 10px">
    </a>
    <a class="navbar-brand d-md-none" href="{% if view == "student" %}{% url 'dashboard' %}{% elif view == "admin" %}{% url 'dashboard-admin' %}{% endif %}">
        <img src="https://www.jcr.dow.cam.ac.uk/storage/app/media/dcac_logo.png" width="70"
             style="padding-right: 10px">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-none d-lg-block" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {% if view == "student" %}{{student}}{% elif view == "admin" %}{{user}}{% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    {% if view == "student" %}

                    <a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a>
                    <a class="dropdown-item" href="{% url 'all-requests'%}">Previous Requests</a>
                    <div class="dropdown-divider"></div> 
                    <a class="dropdown-item" href="{% url 'acg-form' 'standard'%}">New Standard Request</a>
                    <a class="dropdown-item" href="{% url 'acg-form' 'internal'%}">New Internal Transfer</a>
                    <a class="dropdown-item" href="{% url 'acg-form' 'large'%}" >New Large Request</a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#requestTypes" style="cursor: pointer;" ><i class="fas fa-question-circle"></i> Request Types</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'all-budgets' %}">Previous Budgets</a>
                    <a class="dropdown-item" href="{% url 'budget-form' %}">New Budget</a>
                    <a class="dropdown-item" href="{% url 'budget-usage-student' %}">Budget Usage</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/accounts/logout">Logout</a>

                    {% elif view == "admin" %}

                    <a class="dropdown-item" href="{% url 'dashboard-admin'%}">Admin Home</a>
                    <a class="dropdown-item" href="{% url 'all-requests-admin'%}">Previous Requests</a>
                    <a class="dropdown-item" href="{% url 'all-budgets-admin'%}">All Budgets</a>
                    <a class="dropdown-item" href="{% url 'budget-usage-admin'%}">Budget Usage</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'profile-admin'%}">Profile</a>
                    <a class="dropdown-item" href="{% url 'dashboard'%}">Student Portal</a>
                    <a class="dropdown-item" href="/accounts/logout">Logout</a>

                    {% endif %}
                </div>
            {% if view == "student" %}

            <li class="nav-item">
                <a class="nav-link d-lg-none d-xl-none" href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-lg-none d-xl-none" href="{% url 'all-requests'%}">Previous Requests</a>
            </li>
            <div class="dropdown-divider-burgundy"></div>
            <li class="nav-item">
                <a class="nav-link d-lg-none d-xl-none" href="{% url 'acg-form' 'standard'%}">New Standard Request</a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-lg-none d-xl-none" href="{% url 'acg-form' 'internal'%}">New Internal Transfer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-lg-none d-xl-none" href="{% url 'acg-form' 'large'%}">New Large Request</a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-lg-none d-xl-none" data-toggle="modal" data-target="#requestTypes" style="cursor: pointer;"><i class="fas fa-question-circle"></i> Request Types</a>
            </li>
            <div class="dropdown-divider-burgundy"></div>
            <li class="nav-item">
                <a class="nav-link d-lg-none d-xl-none" href="{% url 'all-budgets'%}">Previous Budgets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-lg-none d-xl-none" href="{% url 'budget-form' %}">New Budget</a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-lg-none d-xl-none" href="{% url 'budget-usage-student' %}">Budget Usage</a>
            </li>
            <div class="dropdown-divider-burgundy"></div>
            <li class="nav-item">
                <a class="nav-link d-lg-none d-xl-none" href="/accounts/logout">Logout</a>
            </li>

            {% elif view == "admin" %}

            <li class="nav-item">
            <a class="nav-link d-lg-none d-xl-none" href="{% url 'dashboard-admin'%}">Admin Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-lg-none d-xl-none" href="{% url 'all-requests-admin'%}">Previous Requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-lg-none d-xl-none" href="{% url 'all-budgets-admin'%}">All Budgets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-lg-none d-xl-none" href="{% url 'budget-usage-admin'%}">Budgets Usage</a>
            </li>
            <div class="dropdown-divider-burgundy"></div>
            <li class="nav-item">
                <a class="nav-link d-lg-none d-xl-none" href="{% url 'profile-admin'%}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-lg-none d-xl-none" href="{% url 'dashboard'%}">Student Portal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-lg-none d-xl-none" href="/accounts/logout">Logout</a>
            </li>

            {% endif %}

            </li>
        </ul>
    </div>
</nav>

{% comment %} 
<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-none d-lg-block" href="#" id="navbarDropdown" role="button"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{ user }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'dashboard-admin'%}">Admin Home</a>
                <a class="dropdown-item" href="{% url 'all-requests-admin'%}">Previous Requests</a>
                <a class="dropdown-item" href="{% url 'all-budgets-admin'%}">All Budgets</a>
                <a class="dropdown-item" href="{% url 'budget-usage-admin' %}">Budget Usage</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'profile-admin'%}">Profile</a>
                <a class="dropdown-item" href="{% url 'dashboard'%}">Student Portal</a>
                <a class="dropdown-item" href="/accounts/logout">Logout</a>
            </div>
        <li class="nav-item">
            <a class="nav-link d-lg-none d-xl-none" href="{% url 'dashboard-admin'%}">Admin Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-lg-none d-xl-none" href="{% url 'all-requests-admin'%}">Previous Requests</a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-lg-none d-xl-none" href="{% url 'all-budgets-admin'%}">All Budgets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-lg-none d-xl-none" href="{% url 'budget-usage-admin'%}">Budget Usage</a>
        </li>
        <div class="dropdown-divider-burgundy"></div>
        <li class="nav-item">
            <a class="nav-link d-lg-none d-xl-none" href="{% url 'profile-admin'%}">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-lg-none d-xl-none" href="{% url 'dashboard'%}">Student Portal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-lg-none d-xl-none" href="/accounts/logout">Logout</a>
        </li>
        </li>
    </ul>
</div>

{% endcomment %}